*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}
body{

    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}
.capa{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    z-index: -1;
    top: 0;left: 0;
}
/*Estilos para el encabezado*/
.header{
    transform: translate(0px, 0px);
background-color: #57575780;
    width: 100%;
    height: 100px;
    position:fixed;
    top: 0;left: 15;
}
.container{
    
    width: 100%;
    max-width: 1920px;
    margin: auto;
}
.btn-menu{
    padding-left: 50px;
}
.container .btn-menu, .logo{
    float: left;
    line-height:100px;
    
}
.container .btn-menu label{
    
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}
.logo h1{
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    margin-left: 10px;
}
.container .menu{
    float: right;
    line-height: 100px;
}
.container .menu a{
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
    margin-right: 5px;
}
.container .menu a:hover{
    border-bottom: 2px solid #c7c7c7;
    padding-bottom: 5px;
}
/*Fin de Estilos para el encabezado*/

/*Menù lateral*/

#btn-menu{
    display: none;
}
.container-menu{
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    top: 0;left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.cont-menu{
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
.cont-menu nav{
    transform: translateY(15%);
}
.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}
.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
}
.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}
.carr{
    transform: translate(750px, 30px);
}
/*Fin de Menù lateral*/


/*Fin de Menù lateral*/
.h1T{
    color: wheat;
}
.carr{
    position:sticky;
    transform: translate(1050px, 30px);
}
.Tit{
    
padding-top: 30px;
padding-left: 430px;

    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 44px;
    
}
.FICP{
z-index: -1;
    position: absolute;
    transform: translate(100px, 150px);
}
.TxtI{ 
    padding-left: 5%;
    padding-top: 15%;

    font-size: 34px;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}
hr{ 
    z-index: -1;
    width: 1879px;
    position:sticky;
    left: 0%;
    top: 100px;
}

/*Incio de sesion*/
#login-box {
    position: absolute;
    top: 100px;
    left: 600px;
    border: 1px ridge rgb(255, 255, 255);
    width: 30%;
    text-align: center;
    margin: 0 auto;
    margin-top: 12%;
    background: #00000080;
    padding: 15px 30px;
}
#login-boxT{
    color: white;
    position: absolute;
    top: 100px;
    left: 600px;
    border: 1px ridge rgb(255, 255, 255);
    width: 30%;
    text-align: center;
    margin: 0 auto;
    margin-top: 12%;
    background: #00000080;
    padding: 155px 40px;
}
.TxtP5{
    font-size: 20px;
}
#login-box h1 {
    color: white;
}
#login-box .form .item input {
    width: 200px; /* Establecer el ancho apropiado */
    border: 0; /* Primero cancele el borde, para que pueda modificar el ancho del borde inferior debajo */
    border-bottom: 5px solid white; /* Modificar el límite inferior para mostrar el efecto de línea horizontal */
    font-size: 18px; /* Aumentar el tamaño de fuente de forma adecuada */
    background: #ffffff00; /* Establecer el cuadro de entrada en transparente */
    color: white; /* El color del texto anterior se establece en blanco, pero el color del marcador de posición debe establecerse por separado */
    padding: 5px 10px; /* Para que el contenido del marcador de posición no se muestre en la cuadrícula superior, aumente el borde interno */
}
#login-box .form .item i {
    color: rgb(0, 0, 0);
    font-size: 18px;
}
#login-box button {
    border: 0; /* Cancelar borde del botón */
    width: 150px; /* Establecer la longitud y el ancho apropiados del botón */
    height: 30px;
    margin-top: 18px; /* Establezca el ancho apropiado del marco exterior superior y aumente la distancia desde el cuadro de contraseña superior */
    font-size: 18px; /* Modificar el tamaño del texto del botón */
    color: rgb(0, 0, 0); /* Modificar el color del texto en el botón */
    border-radius: 25px; /* Establecer los bordes izquierdo y derecho del botón en arcos */
    background-image: linear-gradient(to right, #ffffff 0%, #505050 100%); /* Agrega un color degradado al botón */
}
.Log{
    transform: translate(700px, 15px);
}
.MIND{ 
    z-index: -1;
    transform: translate(0px, 84px);
      position: absolute;
    background-attachment: fixed
  
}
/*Productos Hombre*/
.producto1{
    z-index: -1;

    position: absolute;
    left: 5%;
    padding: 1em;
    transition: .5s ease-in-out;
    font-family: 'IBM Plex Mono', monospace;
    text-decoration: none;
  color: rgb(255, 255, 255);
}


.producto1:hover{
    scale: 1.08;

}
.producto2{
    z-index: -1;

    position: absolute;
    left: 25%;
    padding: 1em;
    transition: .5s ease-in-out;
    font-family: 'IBM Plex Mono', monospace;
    text-decoration: none;
    color: rgb(255, 255, 255);
}


.producto2:hover{
    scale: 1.08;
}
.producto3{
    z-index: -1;

    position: absolute;
    left: 50%;
    padding: 1em;
    transition: .5s ease-in-out;
    font-family: 'IBM Plex Mono', monospace;
    text-decoration: none;
    color: rgb(255, 255, 255);
}


.producto3:hover{
    scale: 1.08;
}
.producto4{
    z-index: -1;

    position: absolute;
    left: 75%;
    padding: 1em;
    transition: .5s ease-in-out;
    font-family: 'IBM Plex Mono', monospace;
    text-decoration: none;
    color: rgb(255, 255, 255);
}


.producto4:hover{
    scale: 1.08;
}
/*Deslizante*/

#carrusel {


    left: 220px;
    width:1200px;
    overflow:hidden;
    height:603px;
    position:absolute;
    margin-top:20px;
    margin-bottom:20px;
}
 
#carrusel .left-arrow {
    position:absolute;
    left:190px;
    z-index:1;
    top:50%;
    margin-top:-9px;
}
 
#carrusel .right-arrow {
    position:absolute;
    right:0px;
    z-index:1;
    top:50%;
    margin-top:-9px;
}
 
.carrusel {
    width:4000px;
    left:200px;
    position:absolute;
    z-index:0;
}
 
.carrusel>div {
    float: left;
    height: 303px;
    margin-right: 5px;
    width: 295px;
    text-align:center;
}
.TxtR{
    color: white;
}

